<div class="card container mt-3 pt-3 bgd">
           <form class="text-center" style="color: #757575;" action="/post/create"  method="post" enctype="multipart/form-data"">


            <div class="md-form">
                <input name="title" type="text" placeholder="Title" class="form-control">
            </div><br>
            <div class="md-form">
                <input name="content" type="text" style="height: 100px" placeholder="Content" class="form-control">
            </div>
               <div class="input-group">
                   <div class="input-group-prepend">
                       <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                   </div>
                   <div class="custom-file">
                       <input name="image" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                       <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                   </div>
               </div>
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Post</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form login -->