
<ul class="nav justify-content-center">
    <!--<li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>-->
    {{# if user}}
    <img src="https://cdn.dribbble.com/users/35617/screenshots/2545423/usericons01.gif" class="userlogo"><li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user.first_name}}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/user/logout">Log out</a></div>
    </li>
    {{else}}
        <li class="nav-item">
            <a class="nav-link active" href="/user/login"><img src="https://gifimage.net/wp-content/uploads/2018/04/login-gif-images-6.gif" style="height: 30px; margin-top:-5px "></a>
        </li>
    {{/if}}
</ul>
</nav>