<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in</title>
    <style>
        .center{
            margin: auto;
        }
    </style>
</head>
<body>
<form method="post" action="/user/create">
    <labe>FIRST NAME :</labe>
    <input name="first_name" type="text"><br>
    <label>LAST NAME :</label>
    <input name="last_name" type="text"><br>
    <label>USERNAME :</label>
    <input name="username" type="text"><br>
    <label>PASSWORD :</label>
    <input name="password" type="password"><br>
    <button>SUBMIT</button>
</form>
</body>
</html>