<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body><form method="post" action="/post/create">
    <labe>TITLE :</labe>
    <input name="title" type="text"><br>
    <label>CONTENT :</label>
    <input name="content" type="text"><br>
    <input name="image" type="file"><br>
    <button>SUBMIT</button>
</form>


</body>
</html>