.box{
    width: 400px;
    height: 500px;
}
.center{
    margin: 20px auto;
}
.imgm{
    width: 100%;
    height: auto;
}
.box-2{
    width: 200px;
    margin: 20px auto;
}

.box-3{
    width: 300px;
    margin: 20px auto;
}
.box-4{
    width: 400px;
    margin: 20px auto;
}
.img-box{
    width: 100%;
}
.in-container{
    margin: 10px auto;
    text-align: left;
    width: 700px;
}
.title{
    font-size: 60px;
}