body{
    transition : all .5s;
}
.box{
    width: 400px;
    height: 500px;
}
.center{
    margin: 20px auto;
}
.imgm{
    width: 100%;
    height: auto;
}
.box-2{
    width: 200px;
    margin: 20px auto;
}

.box-3{
    width: 300px;
    margin: 20px auto;
}
.box-4{
    width: 400px;
    margin: 20px auto;
}
.img-box{
    width: 100%;
    margin: auto;
}
.img-box-m{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    transition : all 1s;
}
.img-box-m:hover{
    width: 100%;
    transnsition: all 1s;
}
.in-container{
    margin: 10px auto;
    text-align: left;
    width: 700px;
}
.title{
    font-size: 60px;
}
.fill{
    transition : all 1s;
    padding: 20px;
}
.fill a{
    text-decoration: none;
}
.row{
    width: 100%;
}
.fill:hover{
    transition: all 1s;
    transform : scale(1.1);
}